
  .cellRoot {
  min-height: 40px;
  display: flex;
  width: 100%;
  align-items: center;
}

:global(table) {
  
  tbody>tr {
    cursor: pointer;
    transition: box-shadow 0.4s, transform 0.4s;
    &:hover {
      transform: scale(1.015);
      box-shadow: 0px 0px 8px rgba(61, 99, 140, 0.16);
    }
  }
  tr>th {
    font-weight: 500;
    padding: 12px 6px;
  }

}

:global(th:not(:last-child)) {
  position: relative;
  &::after {
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 1.6em;
    background-color: #0000000f;
    transform: translateY(-50%);
    content: "";
  }
}
.headerCell {
  background: #fafafa;
  color: #000;
  font-weight: 500;
  border-bottom: 1px solid #f0f0f0;
}

.item, .customer, .price, .status {
  min-width: 80px;
}

.item {
  flex: 2 0;
}
.customer {
  flex: 2 0;
}
.price {
  flex: 1 1;
}
.destination {
  flex: 5 0;

}
.status {
  flex: 2 0;
}