.root {
  max-width: 1080px;
  margin: auto;
  display: flex;
  flex-direction: column;

}

:global(body) {
  background-color: #fff;
  padding-top: 56px;
  margin: 0;
}

@media only screen and (max-width: 1080px) {
  :global(body) {
    padding: 56px 20px;
  }
  .root {
    width: 100%;
  }
}